/* 두 개의 컨테이너를 1:1 비율로 중앙에 배치하는 래퍼 */
.naver {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center; /* 가로 방향으로 중앙 정렬 */
  align-items: flex-start; /* 세로 방향으로 상단 정렬 */
  width: 100%;
  max-width: 1200px; /* 전체 컨테이너의 최대 너비 */
  margin: 0 auto; /* 컨테이너를 수평으로 중앙 정렬 */
  padding: 50px; /* 컨테이너 주위의 여백 */
  box-sizing: border-box; /* 여백을 요소의 총 너비와 높이에 포함 */
  gap: 50px; /* 두 컨테이너 사이의 간격 */
}

/* 테이블 컨테이너 스타일 */
.table-naver-wrapper {
  flex: 1; /* 가변적인 공간을 차지하도록 설정 */
  max-width: 50%; /* 전체 너비의 50%까지 확장 */
  overflow-x: auto; /* 필요시 가로 스크롤 가능 */
  box-sizing: border-box; /* 여백을 요소의 총 너비와 높이에 포함 */
}

.table-naver {
  width: 100%;
  border-collapse: collapse;
}

.table-naver th, .table-naver td {
  border: 1px solid black;
  padding: 10px;
}

.table-naver th {
  background-color: white;
  text-align: center;
}

.table-naver .label-cell {
  font-weight: bold;
  text-align: right;
}

.table-naver .input-field {
  width: 100%;
}

.table-naver .profile-image {
  height: 250px;
  width: 250px;
}

/* 로그인 컨테이너 스타일 */
.login-naver {
  flex: 1; /* 가변적인 공간을 차지하도록 설정 */
  max-width: 50%; /* 전체 너비의 50%까지 확장 */
  box-sizing: border-box; /* 여백을 요소의 총 너비와 높이에 포함 */
  display: flex;
  flex-direction: column; /* 내부 요소들을 수직으로 배열 */
  border: 1px solid;
  background-color: white;
}

.login-naver h1 {
  font-size: 35px;
  text-align: center; /* 제목 중앙 정렬 */
  margin-top: 15px;
}

/* 입력 필드 스타일 */
.input-value input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* 입력 필드 경계선 색상 */
  border-radius: 5px; /* 입력 필드 모서리 둥글게 */
  box-sizing: border-box; /* 여백을 요소의 총 너비와 높이에 포함 */
}

/* 입력 필드와 버튼이 함께 있는 경우, label과 입력 필드 사이의 간격을 조정합니다. */
.naver-input {
  display: flex;
  flex-direction: column; /* 레이블과 입력 필드를 수직으로 나열 */
  padding: 5px;
  margin-top: 10px; /* 입력 필드와 다음 요소 간의 간격 */
}

/* 버튼 스타일 */
.btna {
  display: inline-block;
  padding: 10px 20px;
  background-color: black; /* 버튼 배경 색상 */
  color: white;
  border: none;
  cursor: pointer;
  width: 100%; /* 버튼 너비를 100%로 설정 */
  box-sizing: border-box; /* 여백을 요소의 총 너비와 높이에 포함 */
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px; /* 버튼과 이전 요소 간의 간격 */
}

.btna:hover {
  background-color: rgb(43, 40, 40); /* 버튼 호버 시 색상 변경 */
}