.static-all {
  background-color: #F8F9FA; 
  padding: 1rem 2rem; /* 좌우 패딩을 늘려서 여유 공간 추가 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #333; /* 네비게이션 바 아래쪽에 경계선 추가 */
}

.static-sor {
  display: flex;
  width: 70%; /* 전체 너비 사용 */
  justify-content: space-between; /* 링크들 사이 간격을 균등하게 조정 */
  align-items: center; /* 수직 중앙 정렬 */
  list-style: none;
  margin: 0;
  padding: 0; /* 패딩 제거 */
}

.static {
  color: #333; /* 링크 색상: 다크 그레이 */
  font-size: 24px; /* 폰트 크기 조정 */
  text-decoration: none; /* 밑줄 제거 */
  padding: 0.5rem 1rem; /* 링크의 좌우 여백을 추가 */
  border: 3px solid transparent; /* 기본 상태에서 투명한 큰 볼더 */
  border-radius: 8px; /* 모서리를 둥글게 */
  transition: border-color 0.15s ease-in-out; /* 부드러운 효과 */
}

/* 호버 상태 스타일 */
.static:hover {
  border-color: #313131; /* 호버 시 볼더 색상 변경 */
  background-color: transparent; /* 호버 시 배경색 제거 */
}

.staticone {
  font-weight: bold;
  color: #333; /* 글씨 색상: 다크 그레이 */
  font-family: cursive;
  font-size: 38px;
}

.staticone a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: inherit; /* 상속받은 글씨 색상 사용 */
}
.main-li-box{
  display: ruby;
}

.static-all {
  background-color: #F8F9FA; 
  padding: 4rem 3rem; /* 좌우 패딩을 늘려서 여유 공간 추가 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #333; /* 네비게이션 바 아래쪽에 경계선 추가 */
}