.moviechart-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 170px;
}

.moviechart-movies img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    max-height: 380px;
    
    
    
}

.moviechart-movies {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



.moviechart-movies .btn{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #ff5a5f;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    
}

.moviechart-movies .btnone{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: skyblue;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    
}


.moviechart-movies .btn:hover{
    background-color: skyblue;
}
.moviechart-movies .btnone:hover{
    background-color: #ff5a5f;
}

.movieline {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    text-align: center;
    margin: 5px;
    
}
.movie-options {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
    

}
.movie-options label{
    display: flex;
    align-items: center;
    gap: 5px;
    
    
}
