<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.six.mapper.MTmapper">

    <select id="MTAll" resultType="com.six.dto.Moviepay">
        SELECT * FROM MOVIEPAY
    </select>

    <insert id="insertMT" parameterType="com.six.dto.Moviepay">
        INSERT INTO moviepay (
            moviepay_adult,
            moviepay_child,
            moviepay_adultpay,
            moviepay_childpay,
            moviepay_price,
            moviepay_seat,
            moviepay_paydate,
            moviepay_point_use,
            moviepay_point,
            moviepay_refund,
            moviepay_viewdate,
            moviepay_viewtime,
            movie_no,
            member_no,
            moviepay_viewregion

        ) VALUES (
                     #{moviepayAdult},
                     #{moviepayChild},
                     #{moviepayAdultpay},
                     #{moviepayChildpay},
                     #{moviepayPrice},
                     #{moviepaySeat},
                     #{moviepayPaydate},
                     #{moviepayPointUse},
                     #{moviepayPoint},
                     #{moviepayRefund},
                     #{moviepayViewdate},
                     #{moviepayViewtime},
                     #{movieNo},
                     #{memberNo},
                     #{moviepayViewregion}

                 )
    </insert>

    <select id="getAllMovies" resultType="com.six.dto.Movie">
        SELECT * FROM movie
    </select>

    <select id="getUserPoints" resultType="int" parameterType="string">
        SELECT member_point
        FROM member
        WHERE member_no = #{userId}
    </select>

    <select id="movieSeat" resultType="string" parameterType="map">
	    SELECT GROUP_CONCAT(moviepay_seat SEPARATOR ',') AS booked_seats
	    FROM moviepay
	    WHERE movie_no = #{movieNo, jdbcType=INTEGER}
	      AND moviepay_viewdate = #{viewDate, jdbcType=DATE}
	      AND moviepay_viewtime = #{time, jdbcType=TIME};
</select>

    <select id="getMovieById" parameterType="int" resultType="com.six.dto.Movie">
        SELECT * FROM movie WHERE movie_no = #{movieNo}
    </select>

    <update id="payCount" parameterType="map">
        UPDATE member
        SET
            member_paycount = member_paycount + 1,
            member_grade = CASE
                               WHEN member_paycount + 1 >= 10 THEN 'VIP'
                               ELSE member_grade
                END,
            member_point = #{remainPoints}
        WHERE member_no = #{memberNo}
    </update>

</mapper>