<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.six.mapper.OboMapper"> 
<!-- 문의내용 저장 -->
<insert id="insertObo" parameterType="com.six.dto.Obo">
  INSERT INTO obo (member_no, member_name, member_phone, member_email, obo_title, obo_content, 
                   obo_inquiryType, obo_movieType, obo_answer, obo_status, obo_createDate)
  VALUES (#{memberNo}, #{memberName}, #{memberPhone}, #{memberEmail}, #{oboTitle}, #{oboContent}, 
          #{oboInquiryType}, #{oboMovieType}, #{oboAnswer}, #{oboStatus}, #{oboCreateDate})                 
</insert>

<!-- 문의내용 불러오기 -->
<select id="getOboList" resultType="com.six.dto.Obo">
SELECT obo_no,member_no,member_name,member_phone,member_email,obo_title,
obo_content,obo_inquiryType,obo_movieType,obo_answer,obo_status,obo_createDate
FROM obo ORDER BY obo_no DESC
</select>


<!-- 특정문의내용 불러오기 -->
<select id="findOboList" parameterType="int" resultType="com.six.dto.Obo">
  SELECT * FROM obo WHERE obo_no = #{oboNo}
</select>

<!-- 문의내용 답변 등록 및 상태 변경 -->
<update id="registerAnswer" parameterType="com.six.dto.Obo">
  UPDATE obo
  SET obo_answer = #{oboAnswer},
      obo_status = #{oboStatus}
  WHERE obo_no = #{oboNo}
</update>

<!-- 문의내용 삭제하기 -->
<delete id="oboDelete">
  DELETE FROM obo
  WHERE obo_no = ${oboNo}
</delete>
</mapper>